.flex-container{
    display:grid;
    justify-content: space-around;
    grid-template-columns: 15% 85%;
    /* width: 100%; */
    /* flex-wrap: nowrap; */
}
.genres{
    padding: 10px;
    border-top:0.5px solid black ;
    border-right: 0.5px solid black;
}

.movies{
    margin-left: 10px;
}