.navbar {
  background-color: white;
  color: black;
  height: 60px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-bottom: 0.5px solid black;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 2px;
  margin-left: 500px;
  margin-top: 18px;
}

.navbar-search button {
  background-color: white;
  border: 0.2px solid blue;
  cursor: pointer;
  margin-top: -4px;
  margin-left: 2px;
  color: blue;
}

.navbar-search button i {
  color: black;
  font-size: 1.2rem;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons {
  color: black;
  font-size: 1.5rem;
  /* margin-right: 40px; */
  cursor: pointer;
}

.navbar-user {
  display: flex;
  align-items: center;
  margin-right: -60px;
  border:0.5px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-left: 15px;
}

.navbar-user i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.navbar-user span {
  font-size: 1.2rem;
  font-weight: bold;
}
