.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0069d9;
  }
  